<!-- <html>
    <head>
<body>


<div class="container">
    <div class="center">

      <button onclick="location.href='{% url 'script' %}'">Execute Script</button> <hr> 
      {% if data %}
  {{data | safe}}
  {% endif %}
      <form action="external" method="post">
              {% csrf_token %}   
              Input Text:
              <input type ="text" name ="param" required> <br>
              {{data_external}}
              {{data10}}
              <br>
              <br>

              <input type="submit" value="Execute external python script">
      </form>

      

         
    </div>
  </div>
  </form> 


</body> -->


<html>
    <head>
<body>


<div class="container">
    <div class="center">

      <!-- <button onclick="location.href='{% url 'script' %}'">Execute Script</button> <hr> 
      {% if data %}
  {{data | safe}}
  {% endif %} -->
      <form action="external" method="post">
              {% csrf_token %}   
              <!-- Input Text:
              <input type ="text" name ="param" required> <br> -->
              {{data_external}}
              {{data10}}
              <br>
              <br>

              <input type="submit" value="Execute external python script">
      </form>

      

         
    </div>
  </div>
  </form> 


</body>