<?xml version="1.0"?>
<configuration>
	<!--<configSections>
		<section name="VsaBinding" type="Agilent.SA.Vsa.VsaBindingSection, Agilent.SA.Vsa.Vector-x64"/>
	</configSections>
	<VsaBinding>
		<bindingRedirects>
			--><!-- Assemblies in directories named "Interfaces" are automatically included for binding redirects, just
					 list other assemblies that are not in "Interfaces" directories but that should have a binding redirect to the
					 currently loaded assembly. --><!--
			<add name="Agilent.Vsa.Assets.Interop" publicKeyToken="52d780384cac9341" culture="neutral"/>
			<add name="Agilent.SA.Vsa.HardwareExtensions.Interfaces" publicKeyToken="a25294fa6a616d95" culture="neutral"/>
			<add name="Agilent.SA.Vsa.HardwareRole.Interfaces" publicKeyToken="a25294fa6a616d95" culture="neutral"/>
			<add name="Agilent.SA.Vsa.Extension.Interfaces" publicKeyToken="a25294fa6a616d95" culture="neutral"/>
		</bindingRedirects>
	</VsaBinding>-->
	<appSettings>
    <add key="ModelBasedRangeEnabled" value ="false"/>
		<add key="BindChannel" value="true"/>
    <add key="ClientSideBuffersEnabled" value="true"/>
    <add key="ComposeDirectories" value=".;Display;Measurements;Services;InternalInterfaces"/>
    <add key="PrivateProbing" value=".;Measurements;Services;Display;Interfaces;VsaComponents;InternalInterfaces;Scpi;Scpi\Translator;Scpi\Translator\x64"/>
    <add key="ExtensionsProbing" value="Extensions\Hardware\*;Extensions\Processing\*;Extensions\COM\*;Extensions\SignalStudio\*;Extensions\Display\*"/>
    <add key="ExcludeInProcessProbing" value="Extensions\Hardware\Core\Physics"/>
    <add key="DisableInProcessHiSLIP" value="false"/>
    <add key="DisableXmlSchemaValidation" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="SuppressImportsSatisfiedTypes" value="Keysight.SA.Vsa.PathWave.Connection"/>

    <!-- This can be used to hide the external SCPI server configuration button in Glacier so that a user can't use
    the external SCPI server.  OMA might use this in the future.  -->
    <add key="DisableExternalScpiServerConfiguration" value="false"/>
    
    <add key="BindingRedirect1" value="Agilent.Vsa.Assets.Interop 52d780384cac9341 neutral"/>
    <add key="BindingRedirect2" value="Agilent.SA.Vsa.HardwareExtensions.Interfaces a25294fa6a616d95 neutral"/>
    <add key="BindingRedirect3" value="Agilent.SA.Vsa.HardwareRole.Interfaces a25294fa6a616d95 neutral"/>
    <add key="BindingRedirect4" value="Agilent.SA.Vsa.Extension.Interfaces a25294fa6a616d95 neutral"/>
    <add key="BindingRedirect5" value="Agilent.Interceptor.Framework fcfa8125545522eb neutral"/>
  </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Measurements;Services;Display;Interfaces;VsaComponents;InternalInterfaces"/>
		</assemblyBinding>
	</runtime>
	<system.diagnostics>
		<sources>
			<source name="User Interface" switchName="User Interface" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="Error Log"/>
				</listeners>
			</source>
			<source name="Measurement" switchName="Measurement" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="Error Log"/>
				</listeners>
			</source>
			<source name="State" switchName="State" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="Error Log"/>
				</listeners>
			</source>
			<source name="Boot" switchName="Boot" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="Boot Log"/>
					<add name="Splash Log"/>
				</listeners>
			</source>
			<source name="Macro" switchName="Macro" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="Error Log"/>
				</listeners>
			</source>
			<source name="General" switchName="General" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="Error Log"/>
				</listeners>
			</source>
			<source name="Debug" switchName="Debug" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="Minimal File"/>
				</listeners>
			</source>
			<source name="Hardware" switchName="Hardware" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="Error Log"/>
				</listeners>
			</source>
			<source name="Help" switchName="Help" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="Output Window"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<!--
			Can only specify "Off", "Verbose", "Warning" and "Error" as literal text here. Use the
			following numeric values for other possibilities:
					 -1  All
						0  Off
						1  Critical
						3  Error
						7  Warning
					 15  Information
					 31  Verbose
				65280  ActivityTracing
				-->
			<add name="User Interface" value="Error"/>
			<add name="Measurement" value="Error"/>
			<add name="State" value="Error"/>
			<add name="Boot" value="15"/>
			<add name="Macro" value="Verbose"/>
			<add name="General" value="Warning"/>
			<add name="Debug" value="Off"/>
			<add name="Hardware" value="Error"/>
			<add name="Help" value="Off"/>
			<!-- Controls whether thread information is included in the trace message. -->
			<add name="Show Thread Info" value="false"/>
			<add name="Show Timing Info" value="false"/>
			<!-- Switches used by the TimeInputPhysics role -->
			<!--  0 Off
						1 Error
						2 Warning
						3 Information
						4 Verbose
			 -->
			<add name="Startup Methods" value="0"/>
			<add name="MeasControl" value="0"/>
			<add name="MeasSetup" value="0"/>
			<add name="Utility" value="0"/>
			<add name="Alignments" value="0"/>
      <add name="EVMAutorange" value="0"/>
			<add name="RequestLog" value="0"/>
      
      <!-- Switch for Power spectral engine logging -->
      <add name="PseLog" value="0"/>
			<!-- Switch used by MatrixTableViewModel -->
			<add name="MatrixTable" value="0"/>
		</switches>
		<sharedListeners>
			<!-- Writes 1-line trace to named file -->
			<add name="Minimal File" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Temp\VsaTraceInfo.log"/>
			<!-- Writes full trace (with stack frame) to named file -->
			<add name="Full Trace File" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Temp\VsaTraceInfo.log" traceOutputOptions="Callstack, DateTime"/>
			<!-- Writes "Error" events to Application Event log with source of "Agilent.SA.Vsa.Vector" -->
			<add name="Error Log" type="System.Diagnostics.EventLogTraceListener" initializeData="Agilent.SA.Vsa.Vector">
					<filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
			</add>
			<!-- Information sent to the splash screen -->
			<add name="Splash Log" type="Agilent.SA.Vsa.SplashListener, Agilent.SA.Vsa.Vector-x64"/>
			<!-- Information for the retained boot log (in the "About" dialog) -->
			<add name="Boot Log" type="Agilent.SA.Vsa.Utility.BootLogTraceListener, Agilent.SA.Vsa.Utility"/>
			<!-- Information sent to the Output window -->
			<add name="Output Window" type="Agilent.SA.Vsa.Utility.OutputWindowTraceListener, Agilent.SA.Vsa.Utility"/>
		</sharedListeners>
		<!-- Set autoflush to "true" to debug crash problems where you need log info. Otherwise leave it "false" to get
				 better performance. -->
		<trace autoflush="false"/>
	</system.diagnostics>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel port="0" priority="0" ref="tcp client" name="tcp client">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
				</channel>
				<channel port="60189" priority="0" ref="tcp server" name="tcp server">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
				</channel>
			</channels>
		</application>
    <customErrors mode="Off" />
  </system.runtime.remoting>
	<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>